<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{{  url_for('static', filename='style/styles.css')  }}" rel="stylesheet" type="text/css" >
</head>
<body>
    <div>
        <ul class="navBar">
            <li class="navList"><a class="navLink" href="{{  url_for('index')  }}"> Home </a></li>
            <li class="navList"><a class="navLink" href="{{  url_for('mealEntry')  }}"> Meal Entry </a></li>
            <li class="navList"><a class="navLink" href="{{  url_for('recipeDates')  }}"> Food Diaries </a></li>
            <li class="navList"><a class="navLink" href="{{  url_for('nutritionalNews')  }}"> Nutritional News </a></li>
        </ul>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>