{% extends "base.html" %}
{% block content %}

<h1 style="color: white;">WELCOME!</h1>

<div class="container">
    <div class="center">
        <button class="button" type="button" name="MealEntry" class="mainButtons">
            Meal Entry 
        </button>

        <br>

        <button class="button" type="button" name="FoodDiaries" class="mainButtons">
            Food Diaries 
        </button>

        <br>

        <button class="button" type="button" name="NutritionalNews" class="mainButtons" onclick="location.href='/nutritionalNews'">
            Nutritional News
        </button>
    </div>
</div>

{% endblock %}