{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="center">
        <button class="button" type="button" name="MealEntry" class="mainButtons" title="Enter in a meal entry. 
Note:  if you already started a meal entry for a particular date, then click on 'Food Diaries' instead"
        onclick="location.href='/mealEntry'">
            Meal Entry 
        </button>

        <br>

        <button class="button" type="button" name="FoodDiaries" class="mainButtons" title="View, add, edit, or delete meal entries."
        onclick="location.href='/recipe'">
            Food Diaries 
        </button>

        <br>

        <button class="button" type="button" name="NutritionalNews" class="mainButtons" title="Read all kinds of articles relating to nutrition!"
        onclick="location.href='/nutritionalNews'">
            Nutritional News
        </button>
    </div>
</div>

{% endblock %}