{% extends "base.html" %}
{% block content %}


<div class="container">
    <div class="center">
        <button class="button" type="button" name="MealEntry" class="mainButtons" title="Enter in a meal entry."
        onclick="location.href='/mealEntry'">
            Meal Entry 
        </button>

        <br>

        <button class="button" type="button" name="FoodDiaries" class="mainButtons" title="View meal entries and add comments."
        onclick="location.href='/recipeDates'">
            Food Diaries 
        </button>

        <br>

        <button class="button" type="button" name="NutritionalNews" class="mainButtons" title="Read all kinds of articles relating to nutrition!"
        onclick="location.href='/nutritionalNews'">
            Nutritional News
        </button>
    </div>
</div>

{% endblock %}