{% extends "base.html" %}
{% block content %}

<div class="mealsEntered">
  <h1>{{ template_meal | title }}</h1>
  <h4>{{ template_type }}</h4>
  {% if template_description %}
    <p>{{ template_description }}</p>
  {%else%}
    <p>A {{ template_meal }} recipe.</p>
  {% endif %}
  
  <h3>Ingredients</h3>
  <ul>{% for ingredient in template_ingredients %}
    <li>{{ ingredient }}</li>
  {% endfor %}</ul>

  <h3>Comments</h3>
  <ul>{% for comment in template_comments %}
    <li>{{ comment }}</li>
  {% endfor %}</ul>
  
  <br>
  <br>
  <br>

  <form id="comment-form" method="POST">
    {{ template_form.hidden_tag() }}
    <p>{{ template_form.comment.label }}
    {{ template_form.comment(size=48) }}</p>
    <p>{{ template_form.submit() }}</p>
  </form>

  <form id="delete-form" method="POST">
    {{ template_delete.hidden_tag() }}
    <p>{{ template_delete.confirm_string.label }}</p>
    <tr>{% for btn in template_delete.confirm_category %}
      <td>{{ btn }}</td>
      <td>{{ btn.label }}</td>
      {% endfor %}
    </tr>
    <p>{{ template_delete.delete_submit() }}</p>
  </form>

</div>
{% endblock %}