{% extends "base.html" %}
{% block content %}

  <br>
  <br>
  <form class="meals" action="/mealEntry" method="POST">
    {{ template_form.csrt_token }}
    {{ template_form.date.label }} {{ template_form.date() }} {{template_form.hidden_tag()}}
    


    {{ template_form.hidden_tag() }}
    <p>{{ template_form.meal.label }}
    {{ template_form.meal() }}</p>
    <tr>{% for btn in template_form.meal_type %}
      <td>{{ btn }}</td>
      <td>{{ btn.label }}</td>
      {% endfor %}
    </tr>
    <p>{{ template_form.description.label }}
    {{ template_form.description() }}</p>
    <p>{{ template_form.ingredients.label }}
    {{ template_form.ingredients() }}</p>

    <p class="warning">PLEASE double check your entry.  Make sure EVERYTHING is correct before you add a meal.</p>

    <p>{{ template_form.submit() }}</p>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p style="color: white;">{{  message  }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %} 


  </form>

{% endblock %}