{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<form class="profile" action="/">
    <label for="name">Name</label>
    <input type="text" name="name">
    <br>
    <br>
    <label for="DOB">Date of Birth</label>
    <input type="date">
    <br>
    <br>
    <label for="weight">Weight (lbs)</label>
    <input type="number">
    <br>
    <br>
    <label for="height">Height (in)</label>
    <input type="number">
    <br>
    <br>
    <input type="submit" value="Save">
</form>

{% endblock %}